<aside>
	<div class="panel radius">
		<h3>Sidebar</h3>
		<p>
			#toc_container {
 			Hintergrund: #f9f9f9 keine wiederholen scrollen 0 0;
    			Rand: 1px solide #aaa;
    			Anzeige: Tabelle;
   		 	Schriftgröße: 95 %;
    			Rand unten: 1em;
    			Polsterung: 20px;
    			Breite: automatisch;
			}

			.toc_title {
    			Schriftstärke: 700;
    			Textausrichtung: Mitte;
			}

			#toc_container li, #toc_container ul, #toc_container ul li{
   			Listenstil: außerhalb keine keine !wichtig;
			}

			<div id="toc_container">
			<p class="toc_title">Inhalt</p>
			<ul class="toc_list">
  			<li><a href="#First_Point_Header">1 erster Punkt-Header</a>
 			 <ul>
   			<li><a href="#First_Sub_Point_1">1.1 Erster Unterpunkt 1</a></li>
    			<li><a href="#First_Sub_Point_2">1.2 Erster Unterpunkt 2</a></li>
  			</ul>
			</li>
			<li><a href="#Second_Point_Header">Zwei-Sekunden-Kopfzeile</a></li>
			<li><a href="#Third_Point_Header">Dritter Punkt-Header 3</a></li>
			</ul>
			</div>
		</p>
	</div>
</aside>
